<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">BOSS BATTLE!</h1>
    <p class="lead">You made it, but do you have what it takes to win?!</p>
  </div>
</div>

<div class="card" style="width: 20rem;">
      <img src=".assets/Sephiroth" class="card-img-top" alt="sephiroth" />
      <div class="card-body">
        <h5 class="card-title">FIGHT!!!</h5>
        <p class="card-text">
          A {{boss.name}} is in front of you, what will you do?
          {{boss.Hp}}
          {{boss.Attack}}
          {{boss.Defense}}
          "Tell me what you cherish most. Give me the pleasure of taking it away."
        </p>
      </div>

      <div>
      <ul class="list-group list-group-flush">
        <br />
        <li  id="atk"data="atk" class="action"><button>Attack</button></li>
        <br />
        <li id="guard" data="guard" class="action"><button>Guard</button></li>
        <br />
        <li id="item" data= "item" class="action"><button>Item</button></li>
        <br />
      </ul>
    </div>
<div class="userStats">
  Hit Points (HP): {{stats.Hp}}
  Attack Power: {{stats.Attack}}
  Defense: {{stats.Defense}}
  Speed: {{user.Speed}}
  Potion Count: {{user.Potion}}
  Gil: {{user.gil}}g
</div>

    <script src="js/boss.js"></script>

  </body>
      <footer class="footer">Game 2020</footer>

</html>