<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>UI</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="mainSign" src="/assets/FinalPhantasy.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/store"> Store <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="boss">Boss</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col-sm-4">
            <div class="card" id="hero-card" style="width: 18rem;">
                <div class="card-body whiteFont mediumFont">
                    <img src="assets/knight.gif" class="card-img-top" alt="knight" />
                    <h5 class="card-title">FIGHT!!!</h5>
                    <p class="card-text ">
                        A {{monster.name}} is in front of you, what will you do?
                    </p>


                    <ul class="list-group list-group-flush"></ul>
                    <br />
                    <li class="atk"><button class="action" data="attack">Attack</button></li>
                    <br />
                    <li class="guard"><button class="action" data="guard">Guard</button></li>
                    <br />
                    <li class="item"><button class="action" data="potion">Potion</button></li>
                    <br />
                    <li class="run"><button class="action" data="run">Run</button></li>
                    <br />
                    </ul>


                    Hit Points(HP): {{stats.hp}}
                    <br>
                    Attack Power: {{stats.attack}}
                    <br>
                    Defense: {{stats.defense}}
                    <br>
                    Speed: {{stats.speed}}
                    <br>
                    Potions: {{stats.potion}}
                    <br>
                    Gil: {{stats.gil}}g
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title whiteFont mediumFont"> Combat Log </h5>
                    <p class="card-text combat-log">
                    <p class="card-text whiteFont mediumFont">
                        A {{monster.name}} is in front of you, what will you do?
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" id="monster-card" style="width: 18rem;">
                <div class="card-body whiteFont mediumFont">

                    <img id="monster" name= "{{monster.name}}" src="{{monster.src}}" class="card-img-top" alt="monster" />
                    <h5 class="card-title">FIGHT!!!</h5>
                    <p class="card-text">
                    <h5> {{monster.quote}} </h5>
                    </p>


                    <ul class="list-group list-group-flush"> </ul>
                    <br />
                    <li class="atk"><button class="action" data="attack">Attack</button></li>
                    <br />
                    <li class="guard"><button class="action" data="guard">Guard</button></li>
                    <br />
                    <li class="item"><button class="action" data="potion">Item</button></li>
                    <br />
                    <li class="run"><button class="action" data="run">Run</button></li>
                    <br />
                    </ul>


                    Hit Points(HP): {{monster.hp}}
                    <br>
                    Attack Power: {{monster.attack}}
                    <br>
                    Defense: {{monster.defense}}
                </div>
            </div>
        </div>
    </div>

    </div>

    </div>


    <footer class="footer">Game 2020</footer>
    <script src="js/stage1.js"></script>
</body>

</html>