<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>UI</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Game</a>
        <button id="toSHOP">Shop</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Shop</a>
                </li>
            </ul>
        </div>
    </nav>



    {{!-- <div class="card" id="hero-card" style="width: 10rem;">
        <img src="assets/knight.png" class="card-img-top" alt="knight" />
        <div class="card-body">
            <h5 class="card-title">FIGHT!!!</h5>
            <p class="card-text">
                A {{monster.name}} is in front of you, what will you do?
            </p>
        </div>

        <ul class="list-group list-group-flush">
            <br />
            <li class="atk"><button class="action" data="attack">Attack</button></li>
            <br />
            <li class="guard"><button class="action" data="guard">Guard</button></li>
            <br />
            <li class="item"><button class="action" data="potion">Item</button></li>
            <br />
            <li class="run"><button class="action" data="run">Run</button></li>
            <br />
        </ul>
    </div>



    <p class="card-text">
        A {{monster.name}} is in front of you, what will you do?
        {{monster.hp}}
        {{monster.attack}}
        {{monster.defense}}
    </p>

    <div class="userStat">
        Hit Points(HP): {{ stats.hp }}
        Attack Power: {{stats.attack}}
        Defense: {{stats.defense}}
        Speed: {{user.speed}}
        Potion Count: #(place holder)
        Gil: {{user.gil}}g
    </div>

    <div class="card" id="monster-card" style="width: 10rem;">
        <img id="monster" src="" class="card-img-top right-img" alt="assets/knight.png" />
        <div class="card-body">
            <h5 class="card-title">FIGHT!!!</h5>
            <p class="card-text">
                A {{monster.name}} is in front of you, what will you do?
            </p>
        </div>

        <ul class="list-group list-group-flush">
            <br />
            <li class="atk"><button class="action" data="attack">Attack</button></li>
            <br />
            <li class="guard"><button class="action" data="guard">Guard</button></li>
            <br />
            <li class="item"><button class="action" data="potion">Item</button></li>
            <br />
            <li class="run"><button class="action" data="run">Run</button></li>
            <br />
        </ul>

        <div class="card">
            Hit Points(HP): {{ stats.hp }}
            Attack Power: {{stats.attack}}
            Defense: {{stats.defense}}
            Speed: {{user.speed}}
            Potion Count: #(place holder)
            Gil: {{user.gil}}g
        </div>
    </div> --}}

    <div class="row">
        <div class="col-sm-4">
            <div class="card" id="hero-card" style="width: 10rem;">
                <div class="card-body">
                <img src="assets/knight.png" class="card-img-top" alt="knight" />
                    <h5 class="card-title">FIGHT!!!</h5>
                    <p class="card-text">
                        A {{monster.name}} is in front of you, what will you do?
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <br />
                    <li class="atk"><button class="action" data="attack">Attack</button></li>
                    <br />
                    <li class="guard"><button class="action" data="guard">Guard</button></li>
                    <br />
                    <li class="item"><button class="action" data="potion">Item</button></li>
                    <br />
                    <li class="run"><button class="action" data="run">Run</button></li>
                    <br />
                </ul>

                <div class="card">
                    Hit Points(HP): {{stats.Hp}}
                    Attack Power: {{stats.Attack}}
                    Defense: {{stats.Defense}} 
                    <br>
                    Speed: {{stats.Speed}}
                    <br>
                    Potions: {{stats.Potion}}
                    <br>
                    Gil: {{stats.Gil}}g
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Combat Log </h5>
                    <p class="card-text combat-log"> <p class="card-text">
                        A {{monster.name}} is in front of you, what will you do?
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" id="monster-card" style="width: 10rem;">
                <div class="card-body">
                    <img id="monster" src="assets/chocobo.png" class="card-img-top right-img" alt="assets/knight.png" />
                        <h5 class="card-title">FIGHT!!!</h5>
                        <p class="card-text">
                            <h5> {{monster.quote}} </h5>
                        </p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <br />
                        <li class="atk"><button class="action" data="attack">Attack</button></li>
                        <br />
                        <li class="guard"><button class="action" data="guard">Guard</button></li>
                        <br />
                        <li class="item"><button class="action" data="potion">Item</button></li>
                        <br />
                        <li class="run"><button class="action" data="run">Run</button></li>
                        <br />
                    </ul>

                    <div class="card">
                        Hit Points(HP): {{monster.hp}}
                        Attack Power: {{monster.attack}}
                        Defense: {{monster.defense}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <footer class="footer">Game 2020</footer>
</body>

</html>